<body>
 <div class="calling_top">
 	<div class="main">
	 	<div class="connected_top_cn">
			<div class="available_option">
				<div class="av_icon">
					<img src="assets/images/ic_available.png" alt="">
				</div>
				<div class="av_text">Available</div>
			</div>
			<div class="connected_id">
				<div class="con_id_tx">You are connected as :</div>
				<div class="con_id_num"><span>#</span>1986543</div>
			</div>
		</div>
	</div>
 </div>
 <div class="callconnected_bg_section">
 	<div class="main">
 		<div class="call_connected_top">
			<div class="cll_logo">
				<img src="assets/images/Logo-Telecats-White.png" alt="">
			</div>
			<div class="cll_right">
				<div class="avail_drop">
					<div class="dropdown">
					  <div class="aval_btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <div class="available_option">
							<div class="av_icon">
								<img src="assets/images/ic_available.png" alt="">
							</div>
							<div class="av_text">Available</div>
							<div class="drop_icon"><img src="assets/images/ic_down.png" alt=""></div>
						</div>
					  </div>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="javascript:void(0);">
					    	<div class="available_option">
								<div class="av_icon">
									<img src="assets/images/ic_onhold.png" alt="">
								</div>
								<div class="av_text onhold">On hold</div>
							</div>
					    </a>
					  </div>
					</div>
				</div>
				<div class="cll_setting"><a href="javascript:void(0);"><img src="assets/images/bt_settings_default.png" alt="">
					<div class="setting_drop">
							<div class="miscrphone">
								<div class="micro_left">
									<img src="assets/images/ic_mic.png" alt=""> Microphone settings
								</div>
								<div class="micro_right">
									<img src="assets/images/micro_right.png" alt="">
								</div>
							</div>
							<select>
								<option>Internal microphone</option>
							</select>
							<div class="mute_btn_holder">
								<div class="mute_btn"><img src="assets/images/bt_minus.png" alt=""></div>
								<div class="mute_fld"><span>Muted</span></div>
								<div class="mute_btn"><img src="assets/images/bt_plus.png" alt=""></div>
							</div>
							<div class="partition"></div>
							<div class="miscrphone">
								<div class="micro_left">
									<img src="assets/images/ic_speaker.png" alt=""> Speaker settings
								</div>
								<div class="micro_right">
									<img src="assets/images/mic_none.png" alt="">
								</div>
							</div>
							<select>
								<option>Internal speaker</option>
							</select>
							<div class="mute_btn_holder">
								<div class="mute_btn"><img src="assets/images/bt_minus.png" alt=""></div>
								<div class="mute_fld_2"><img src="assets/images/progress.png" alt=""></div>
								<div class="mute_btn"><img src="assets/images/bt_plus.png" alt=""></div>
							</div>
						</div>
				</a></div>
				<div class="cll_logout"><a href="javascript:void(0);"><img src="assets/images/bt_logout_default.png" alt=""></a></div>
			</div>
		</div>
		<div class="dialing_screen">
			<div class="onhold_box">
				<div class="onhold_box_inner">
					<div class="onhold_box_left">
						<h4>On hold</h4>
						<h2>0616152002</h2>
						<div class="onhl_timmer">00 : 00 : 01</div>
					</div>
					<div class="onhold_box_right">
						<div class="onhld_btn_gp">
							<a href="javascript:void(0);"><img src="assets/images/bt_hold_release.png" alt=""></a>
							<a href="javascript:void(0);"><img src="assets/images/bt_decline.png" alt=""></a>
						</div>
					</div>
				</div>
				<a href="#" class="btn_transfer"><img src="assets/images/ic_transfer.png" alt=""> Transfer call</a>
			</div>

			<h3>Call connected</h3>
			<h2>0616153003</h2>
			<div class="timmer">
				00 : 00 : 01
			</div>
		</div>
 	</div>
 	<div class="call_connected_bottom">
 		<div class="main">
			<div class="btn_bottom_grp">
				<a href="javascript:void(0);"><img src="assets/images/bt_decline.png" alt=""></a>
				<a href="javascript:void(0);"><img src="assets/images/bt_hold.png" alt=""></a>
			</div>
		</div>
	</div>
 </div>