<div class="calling_top">
 	<div class="main">
	 	<div class="connected_top_cn">
			<div class="available_option">
				<div class="av_icon">
					<img src="assets/images/ic_available.png" alt="">
				</div>
				<div class="av_text">Available</div>
			</div>
			<div class="connected_id">
				<div class="con_id_tx">You are connected as :</div>
				<div class="con_id_num"><span>#</span>1986543</div>
			</div>
		</div>
	</div>
 </div>
 <div class="callconnected_bg_section">
 	<div class="main">
 		<div class="cm_cn_incl">
	 		<div class="coming_incoming_call">
	 			<div class="in_cm_left">
	 				<h3>Incoming call..</h3>
	 				<h2>0616153003</h2>
	 			</div>
	 			<div class="in_cm_left">
	 				<div class="bt_grp_in">
	 					<a href="#"><img src="assets/images/bt_call.png" alt=""></a>
	 					<a href="#"><img src="assets/images/bt_decline.png" alt=""></a>
	 				</div>
	 			</div>
	 		</div>
 		</div>
		<div class="dialing_screen">
			<h3>Dialing…</h3>
			<h2>0616153003</h2>
			<div class="timmer">
				00 : 00 : 01
			</div>
		</div>
 	</div>
 	<div class="call_connected_bottom">
 		<div class="main">
			<div class="btn_bottom_grp">
				<div class="btn-group dropup">
				  <button type="button" class="dropdown-toggle keybutn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				     <img src="assets/images/bt_keypad.png" alt="">
				  </button>
				  <div class="dropdown-menu">
				     <div class="col_dial">
						<div class="dilpad">
							<div class="dial_display">
								<input type="text" name="">
							</div>
							<div class="dial_keyboard">
								<div class="dial_key"><button>1 <span>&nbsp;</span></button></div>
								<div class="dial_key"><button>2 <span>ABC</span></button></div>
								<div class="dial_key"><button>3 <span>DEF</span></button></div>
								<div class="dial_key"><button>4 <span>GHI</span></button></div>
								<div class="dial_key"><button>5 <span>JKL</span></button></div>
								<div class="dial_key"><button>6 <span>MNO</span></button></div>
								<div class="dial_key"><button>7 <span>PQRS</span></button></div>
								<div class="dial_key"><button>8 <span>TUV</span></button></div>
								<div class="dial_key"><button>9 <span>WXYZ</span></button></div>
								<div class="dial_key"><button>* </button></div>
								<div class="dial_key"><button>0</button></div>
								<div class="dial_key"><button>#</button></div>
							</div>
						</div>
					</div>
				  </div>
				</div>

				<a href="javascript:void(0);"><img src="assets/images/bt_decline.png" alt=""></a>
				<a href="javascript:void(0);"><img src="assets/images/bt_hold.png" alt=""></a>
			</div>
		</div>
	</div>
 </div>